*{
    margin: 0px;
    padding: 0px;
}


header{
    background-color: rgb(14, 13, 13);
    font-family: "Manufacturing Consent", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(184, 182, 182);
    font-size: 40px;
    border-bottom: solid 2px black;
    padding: 20px;
}


body{
    background-image: url(https://img.freepik.com/fotos-gratis/fundo-de-papel-de-parede-colorido-vivido-e-desfocado_58702-2873.jpg?semt=ais_hybrid&w=740);
    background-size: cover;
}

.chamada{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}


.chamada_texto{
    margin-right: 5px;
}

