*{
    margin: 0px;
    padding: 0px;
}


header{
    background-color: rgb(14, 13, 13);
    font-family: 'Times New Roman', Times, serif;
    color: rgb(184, 182, 182);
    font-size: 40px;
    border-bottom: solid 2px black;
    padding: 20px;
}


body{
    background-image: url(https://img.freepik.com/fotos-gratis/fundo-de-papel-de-parede-colorido-vivido-e-desfocado_58702-2873.jpg?semt=ais_hybrid&w=740);
    background-size: cover;
    color: white;
}

.chamada{
    display: flex;
    justify-content: center;
    background-color: black;
}


.chamada_texto{
    margin-right: 5%;
}

.categoria-videos{
    display: flex;
    overflow: auto;
    width: 100%;
}